/**
*
*	Name:			AbarLowFaNum Fonts
*	Version:			1.0
**/

@font-face {
  font-family: 'AbarLowFaNum';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/otf/AbarMid-Regular.otf') format('otf'),
       url('../fonts/ttf/AbarMid-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'AbarLowFaNum';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Webfonts/woff/AbarMid-Regular.woff') format('woff'),
  url('../fonts/Webfonts/woff2/AbarMid-Regular.woff2') format('woff2');
}


* {
  font-family: 'AbarLowFaNum', Arial!important;
}