/**
*
*	Name:			AbarLowFaNum Fonts
*	Version:			1.0
**/

@font-face {
  font-family: 'AbarLowFaNum';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/woff/AbarMid-Regular.otf') format('otf'),
       url('../fonts/woff2/AbarMid-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/woff/Arial.woff') format('woff'),
  url('../fonts/woff2/Arial.woff2') format('woff2');
}
* {
  font-family: 'AbarLowFaNum', Arial!important;
}