/**
*
*	Name:			AbarLowFaNum Fonts
*	Version:			1.0
**/

@font-face {
  font-family: AbarLowFaNum;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/woff/AbarLowFaNum-Regular.woff') format('woff'),
  url('../fonts/woff2/AbarLowFaNum-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/woff/Arial.woff') format('woff'),
  url('../fonts/woff2/Arial.woff2') format('woff2');
}